In [ ]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [ ]:
# Read the CSV files into DataFrames
sales_2020 = pd.read_csv("Resources/athletic_sales_2020.csv")
sales_2021 = pd.read_csv("Resources/athletic_sales_2021.csv")

In [ ]:
# Display the 2020 sales DataFrame
print("2020 Sales Data:")
print(sales_2020.head())

2020 Sales Data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [ ]:
# Display the 2021 sales DataFrame
print("2020 Sales Data:")
print(sales_2020.head())

2020 Sales Data:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

#### Check the data types of each DataFrame

In [ ]:
# Combine the DataFrames using an inner join
combined_sales = pd.concat([sales_2020, sales_2021], ignore_index=True)

In [ ]:
# Check the 2021 sales data types.
print("\n2021 Sales Data Types:")
print(sales_2021.dtypes)

2021 Sales Data Types:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [ ]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales.reset_index(drop=True, inplace=True)

In [ ]:
# Check if any values are null.
print("\nNull Values Check:")
print(combined_sales.isnull().sum())

Null Values Check:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
city                0
product             0
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
dtype: int64

In [ ]:
# Check the data type of each column
print("\nData Types Check:")
print(combined_sales.dtypes)

Data Types Check:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [ ]:
# Convert the "invoice_date" to a datetime datatype
combined_sales['invoice_date'] = pd.to_datetime(combined_sales['invoice_date'], format='%m/%d/%y')

In [ ]:
# Confirm that the "invoice_date" data type has been changed.
print("\nInvoice Date Data Type Check:")
print(combined_sales.dtypes['invoice_date'])

Invoice Date Data Type Check:
datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [ ]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
sales_by_location = combined_sales.groupby(['region', 'state', 'city']).agg(Total_Products_Sold=('units_sold', 'sum'))

# Show the top 5 results.
print("\nTop 5 Regions with Most Products Sold:")
print(sales_by_location.sort_values(by='Total_Products_Sold', ascending=False).head())

Top 5 Regions with Most Products Sold:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.
sales_pivot = pd.pivot_table(combined_sales, values='units_sold', index=['region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Total_Products_Sold"
sales_pivot.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Regions with Most Products Sold (Pivot Table):")
print(sales_pivot.sort_values(by='Total_Products_Sold', ascending=False).head())

Top 5 Regions with Most Products Sold (Pivot Table):
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_by_region = combined_sales.groupby(['region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum'))


# Show the top 5 results.
print("\nTop 5 Regions with Highest Sales:")
print(sales_by_region.sort_values(by='Total_Sales', ascending=False).head())

Top 5 Regions with Highest Sales:
                                        Total_Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
sales_pivot_sales = pd.pivot_table(combined_sales, values='total_sales', index=['region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
sales_pivot_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Regions with Highest Sales (Pivot Table):")
print(sales_pivot_sales.sort_values(by='Total Sales', ascending=False).head())

Top 5 Regions with Highest Sales (Pivot Table):
                                        Total Sales
region    state          city
Northeast New York       New York          39801235
West      California     San Francisco     33973228
Southeast Florida        Miami             31600863
          South Carolina Charleston        29285637
          Florida        Orlando           27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
sales_by_retailer = combined_sales.groupby(['retailer', 'region', 'state', 'city']).agg(Total_Sales=('total_sales', 'sum'))

# Show the top 5 results.
print("\nTop 5 Retailers with Highest Sales:")
print(sales_by_retailer.sort_values(by='Total_Sales', ascending=False).head())

Top 5 Retailers with Highest Sales:
                                                    Total_Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
sales_pivot_retailer = pd.pivot_table(combined_sales, values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
sales_pivot_retailer.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the top 5 results.
print("\nTop 5 Retailers with Highest Sales (Pivot Table):")
print(sales_pivot_retailer.sort_values(by='Total Sales', ascending=False).head())

Top 5 Retailers with Highest Sales (Pivot Table):
                                                    Total Sales
retailer    region    state          city
West Gear   West      California     San Francisco     32794405
Kohl's      West      California     Los Angeles       25127160
Foot Locker Northeast New York       New York          25008568
West Gear   West      Washington     Seattle           24862675
Foot Locker Southeast South Carolina Charleston        24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.
women_footwear_sales = combined_sales[combined_sales['product'].str.contains("Women's Athletic Footwear")]

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
women_footwear_sales_by_location = women_footwear_sales.groupby(['retailer', 'region', 'state', 'city']).agg(Womens_Footwear_Units_Sold=('units_sold', 'sum'))

# Show the top 5 results.
print("\nTop 5 Retailers with Most Women's Athletic Footwear Sales:")
print(women_footwear_sales_by_location.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head())

Top 5 Retailers with Most Women's Athletic Footwear Sales:
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
women_footwear_sales_pivot = pd.pivot_table(women_footwear_sales, values='units_sold', index=['retailer', 'region', 'state', 'city'], aggfunc='sum')


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
women_footwear_sales_pivot.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
print("\nTop 5 Retailers with Most Women's Athletic Footwear Sales (Pivot Table):")
print(women_footwear_sales_pivot.sort_values(by='Womens_Footwear_Units_Sold', ascending=False).head())

Top 5 Retailers with Most Women's Athletic Footwear Sales (Pivot Table):
                                                      Womens_Footwear_Units_Sold
retailer      region    state          city
West Gear     West      California     San Francisco                       12107
Foot Locker   Northeast New York       New York                            10996
Kohl's        West      California     Los Angeles                         10826
Foot Locker   Southeast South Carolina Charleston                           8814
Sports Direct South     Texas          Dallas                               8790

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
women_footwear_sales_pivot_date = pd.pivot_table(women_footwear_sales, values='total_sales', index='invoice_date', aggfunc='sum')


# Optional: Rename the "total_sales" column to "Total Sales"
women_footwear_sales_pivot_date.rename(columns={'total_sales': 'Total Sales'}, inplace=True)


# Show the table.
print("\nWomen's Athletic Footwear Sales by Day:")
print(women_footwear_sales_pivot_date)

Women's Athletic Footwear Sales by Day:
              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
...                   ...
2021-12-22         200406
2021-12-23         808022
2021-12-24         190885
2021-12-25         315175
2021-12-30         167903

[355 rows x 1 columns]

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = women_footwear_sales_pivot_date.resample('D').sum()


# Sort the resampled pivot table in ascending order on "Total Sales".
print("\nTop 10 Days with Most Women's Athletic Footwear Sales:")
print(daily_sales.sort_values(by='Total Sales', ascending=False).head(10))

Top 10 Days with Most Women's Athletic Footwear Sales:
              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = women_footwear_sales_pivot_date.resample('W').sum()


# Sort the resampled pivot table in ascending order on "Total Sales".
print("\nTop 10 Weeks with Most Women's Athletic Footwear Sales:")
print(weekly_sales.sort_values(by='Total Sales', ascending=False).head(10))

Top 10 Weeks with Most Women's Athletic Footwear Sales:
              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602